{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="https://salt.tikicdn.com/cache/200x200/ts/product/7c/e8/34/4d3636aadb471cad0bf2f45d681e4f23.jpg">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class = "btn btn-outline-secondary add-btn">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style= "display:inline-block; float:right">$20</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img  class="thumbnail" src="https://salt.tikicdn.com/cache/200x200/ts/product/5e/18/24/2a6154ba08df6ce6161c13f4303fa19e.jpg">  
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class = "btn btn-outline-secondary add-btn">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style= "display:inline-block; float:right">$20</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img  class="thumbnail" src="https://salt.tikicdn.com/cache/200x200/ts/product/75/81/d6/10c142aa28fead3191b62f08d1148fa2.jpg">  
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>  
                <button class = "btn btn-outline-secondary add-btn">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style= "display:inline-block; float:right">$20</h4>          
            </div>
        </div>
    </div>
{% endblock content %}
  

