{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container" style = "padding-top: 70px;">
    <div class="row clearfix">
        {%for book in books %}
        <div class="col-lg-3 col-md-4 col-sm-12">            
                <div class="card product_item">
                    <div class="body">
                        <div class="cp_img">
                            <img src="{{book.image}}" alt="Product" class="img-fluid">
                            <div class="hover">
                                <a href="" class="btn btn-primary btn-sm waves-effect"><i class="fa fa-info" aria-hidden="true"></i></a>
                                <a href=""  class="btn btn-primary btn-sm waves-effect"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>                        
                        <div class="product_details">
                            <ul class="product_price list-unstyled">
                                <h5><a href="#"> {{book.name}} </a></h5>
                                <li class="new_price">{{book.price}}</li>
                                {%for item in book.tag.all%}
                                <div class = "row" >
                                    <li ><a style="font-size: 15px" href="{% url 'tag' id=item.ID %}">#{{item.name}}</a></li>
                                </div>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock content %}
  

